.offer-cards {
  padding: 0 135px 120px 135px;
}

.offer-cards__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 17px;
  row-gap: 15px;
  margin: 0;
  padding: 0;
  list-style: none;
}

@media screen and (max-width: 1050px) {
  .offer-cards {
    padding: 0 70px 100px 70px;
  }
}

@media screen and (max-width: 880px) {
  .offer-cards {
    padding: 0 35px 70px 35px;
  }
}

@media screen and (max-width: 650px) {
    .offer-cards {
      padding: 0 5px 30px 5px;
    }

    .offer-cards__list {
        grid-template-columns: 1fr;
        row-gap: 17px;
        
      }
  }