.articles {
  padding: 0 135px;
}

.articles__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 26px;
  row-gap: 22px;
  list-style: none;
}

@media screen and (max-width: 1050px) {
  .articles {
    padding: 70px;
  }
}

@media screen and (max-width: 880px) {
  .articles {
    padding: 35px;
  }
}

@media screen and (max-width: 650px) {
  .articles {
    padding: 5px;
  }

  .articles__list {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 34px;
  }
}
