.menu {
  margin: 0;
  padding: 65px 135px 70px 135px;
  display: flex;
  justify-content: space-between;
}

.menu__title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  display: flex;
  align-items: center;
  color: #555555;
  padding: 0;
  margin: 0 0 0 15px;
}

.menu__text {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  display: flex;
  align-items: center;
  color: rgba(81, 81, 81, 0.71);
  padding: 0;
  margin: 0 0 0 15px;
}

.menu__button {
  border: none;
  background: inherit;
  padding: 0;
  margin: 0;
  display: flex;
  cursor: pointer;
  text-decoration: none;
  transition: transform 0.2s ease-in-out;
}

.menu__button:hover {
  transform: scale(1.1);
}

.menu__img {
  width: 58px;
  height: 58px;
}

@media screen and (max-width: 1050px) {
  .menu {
    padding: 65px 70px 70px 70px;
  }
}

@media screen and (max-width: 1024px) {
  .menu__title {
    font-size: 18px;
    line-height: 20px;
    margin: 0 0 0 15px;
  }

  .menu__img {
    width: 48px;
    height: 48px;
  }

  .menu__text {
    font-size: 12px;
    line-height: 20px;
  }
}

@media screen and (max-width: 880px) {
  .menu {
    padding: 65px 35px 70px 35px;
  }

  .menu__title {
    font-size: 16px;
  }

  .menu__img {
    width: 38px;
    height: 38px;
  }
}

@media screen and (max-width: 650px) {
  .menu {
    padding: 65px 5px 70px 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 17px;
    row-gap: 20px;
  }
  .menu__title {
    margin: 0 0 0 5px;
  }

  .menu__text {
    margin: 0 0 0 5px;
  }
}

@media screen and (max-width: 550px) {
  .menu {
    padding: 20px 5px;
  }

  .menu__button {
    display: flex;
    justify-content: center;
  }
}
