.all-products {
  padding: 0 135px;
}

.all-products__container {
  display: flex;
}

.all-products__container__links {
  list-style: none;
  text-decoration: none;
  width: 100%;
  background: #f7f8fa;
}

.all-products__container__link {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.02em;
  color: #555555;
  text-decoration: none;
  display: flex;
  border-top: 0.8px solid #e3e3e3;
  padding: 10px 0 14px 29px;
  cursor: pointer;
  width: 100%;
}

.all-products__container__link:first-child {
  border-bottom: none;
  background: #f7f8fa;
}

.all-products__container__link:hover {
  background: #e3e3e3;
  font-size: 16px;
}

@media screen and (max-width: 1050px) {
  .all-products {
    padding: 0 70px;
  }
}

@media screen and (max-width: 880px) {
  .all-products {
    padding: 0 35px;
  }
}

@media screen and (max-width: 650px) {
  .all-products {
    padding: 0 5px;
  }
}
